.price-content h2.price-header {
    padding-top: 86px;
}
#side-menu {
    list-style: none;
}
.price-navigation li.active a {
    border-bottom: 3px solid red;
    color: #333;
}

.price-navigation a:active {
    border-bottom: 2px solid red;
}
.price-navigation>.col-inner {
    position: sticky;
    top: 300px;
}
.price-navigation li>a {
    font-size: 18px;
    font-weight: 300;
}

.price-navigation {
    margin: 40px 0 0 -22px;
}
.price-navigation li+li {
    border: unset;
}

.price-content table {
    font-size: 14px;
}


@media screen and (max-width: 849px) {
    .price-content h2.price-header {
        padding-top: 80px;
    }


    .row .section {
        padding-left: 15px;
        padding-right: 15px;
    }
    header.entry-header{
        padding-bottom: 10px !important;
    }

    .price-navigation {
        margin: 0;
    }

    #side-menu a {
        text-decoration: underline;
        color: #333;
    }
    .price-navigation #side-menu li.active a {
        text-decoration: unset;
        border-bottom: 3px solid red;
        color: #333;
    }
}
