/*************** tablets and down ***********/
@media screen and (max-width: 849px) {
    h1, .banner h1 {
        font-size: 24px;
        line-height: 27px;
    }

    .feedback-image {
        position: unset;
    }

    h2 {
        font-size: 34px;
        line-height: 1.25;
    }

    h1 {
        font-size: 34px;
        line-height: 1.25;
    }

    .feedback-subheader-right {
        display: contents;
        white-space: nowrap;
        text-align: right;
        width: 20%
    }

    .nav-dark .nav > li.html {
        width: 100%
    }

    .banner-bottom-price {
        margin-top: -280px;
        background: #e6e6e6;
    }

    header.entry-header {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .title-p2 {
        padding: 0 0 0 40px;
    }

    .title-p {
        font-size: 18px;
        line-height: 24px;
    }

    .banner-bottom-price-text-left {
        color: #1a1a1a;
        text-align: center;
        padding: 30px 0 0 10px;
    }

    .banner-bottom-price-text-left-price {
        color: var(--additiona-seo-color);
        text-align: center;
        font-weight: 300;
        font-size: 48px;
        line-height: 42px;
        padding: 0 0 0 10px;
    }

    h3.sub-header, h3.sub-header a {
        font-family: Inter, sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #1a1a1a;
    }

    footer .wpcf7-form {
        margin-bottom: 0px;
    }

    #footer .row {
        margin-left: unset;
        margin-right: unset;
    }

    div.table-wrapper {
        overflow-x: auto;
        width: 98%;
    }

    .header-cutsom-contact p a, .header-cutsom-contact p {
        line-height: 32px;
        color: #1a1a1a;
        font-weight: bold;
    }
}
