
.page-template-page-bussnise .col {
    padding-bottom: 0;
}
.pd{
    padding-bottom: 270px;
}
h2.title_sections_directions {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #1A1A1A;
}
.list_directions {
    display: flex;
    justify-content: space-between;
}
.item_directions {
    border: 1px solid #C9C9C9;
}
.item_directions p.title_directions {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    padding: 20px 20px 25px 20px;
    margin: 0;
    max-width: 212px;
    width: 100%;
 transition: all 0.3s linear;
}
a.item_directions img {
    filter: grayscale(1);
    transition: all 0.3s linear;
}
a.item_directions:hover img {
    filter: none;
}
a.item_directions:hover p {
    color: #EC1C23;
}