.newcases h2.title,
.feedback h2.title {
    margin-bottom: unset;
    margin-top: 100px;
}

.newcases,
.feedback {
    margin-bottom: 70px;
}

.newcases > .content > .tiles .slider > div:not(.col),
.feedback > .content > .tiles .slider > div:not(.col) {
    width: 150%;
}

.newcases > .content > .tiles .flickity-viewport,
.feedback > .content > .tiles .flickity-viewport {
    overflow: visible;
}


.newcases > .content > .tiles,
.feedback > .content > .tiles {
    padding-bottom: 56px;
}

.newcases > .content > .tiles button.flickity-prev-next-button,
.feedback > .content > .tiles button.flickity-prev-next-button {
    bottom: -56px;
}

.newcases > .content > .tiles .flickity-page-dots,
.feedback > .content > .tiles .flickity-page-dots {
    bottom: -41px;
}

.newcases ul.tabs,
.feedback ul.tabs {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-bottom: unset;
}

.newcases ul.tabs li,
.feedback ul.tabs li {
    padding: 10px 20px 10px 20px;
    color: #1a1a1a;
    font-weight: bold;
    margin-left: unset;
    margin-right: 14px;
    cursor: pointer;
    margin-bottom: unset;
    white-space: nowrap;
}

.newcases ul.tabs li:hover,
.feedback ul.tabs li:hover {
    background-color: #1a1a1a;
    color: #ffffff;
}

.newcases ul.tabs li.selected,
.feedback ul.tabs li.selected {
    background-color: #1a1a1a;
    color: #ffffff;
}

.newcases > .content > .tiles .tile > .timeline > .solution > .content > .proof img,
.feedback > .content > .tiles .tile > .proof img {
    height: 297px;
}

.newcases > .content > .tiles .tile > .timeline > .solution > .content > .proof:hover img,
.feedback > .content > .tiles .tile > .proof:hover img {
    box-shadow: 0 4px 15px rgba(26, 26, 26, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.margin-bot-minus-thirty {
    margin-bottom: -30px;
}
@media screen and (max-width: 849px) {

    .newcases > .content > .tiles .slider > div:not(.col),
    .feedback > .content > .tiles .slider > div:not(.col) {
        width: 100%;
    }

    .newcases > .content > .tiles .slider .col,
    .feedback > .content > .tiles .slider .col {
        padding-left: unset;
    }


    .newcases > .content > .tabs,
    .feedback > .content > .tabs {
        overflow: scroll;
        margin-left: -15px;
        padding-left: 15px;
        margin-right: -15px;
        padding-right: 15px;
    }

    .newcases > .content > .tabs::-webkit-scrollbar,
    .feedback > .content > .tabs::-webkit-scrollbar {
        display: none;
    }
}