.newcases h2.title,
.feedback h2.title {
    margin-bottom: unset;
    margin-top: 100px;
}

.newcases,
.feedback {
    margin-bottom: 70px;
}

.newcases > .content > .tiles .slider > div:not(.col),
.feedback > .content > .tiles .slider > div:not(.col) {
    width: 150%;
}

.newcases > .content > .tiles .flickity-viewport,
.feedback > .content > .tiles .flickity-viewport {
    overflow: visible;
}


.newcases > .content > .tiles > .slider-wrapper,
.feedback > .content > .tiles > .slider-wrapper {
    padding-bottom: 56px;
}

.newcases > .content > .tiles button.flickity-prev-next-button,
.feedback > .content > .tiles button.flickity-prev-next-button {
    bottom: -56px;
    z-index: 2;
}

.newcases > .content > .tiles .flickity-page-dots,
.feedback > .content > .tiles .flickity-page-dots {
    bottom: -41px;
}


.newcases > .content > .tiles .tile > .timeline > .solution > .content > .proof img,
.feedback > .content > .tiles .tile > .proof img {
    height: 297px;
}

.newcases > .content > .tiles .tile > .timeline > .solution > .content > .proof:hover img,
.feedback > .content > .tiles .tile > .proof:hover img {
    box-shadow: 0 4px 15px rgba(26, 26, 26, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.margin-bot-zero {
    margin-bottom: 0px;
}
@media screen and (max-width: 849px) {
    .newcases > .content > .tiles .slider > div:not(.col),
    .feedback > .content > .tiles .slider > div:not(.col) {
        width: 100%;
    }

    .newcases > .content > .tiles .slider .col,
    .feedback > .content > .tiles .slider .col {
        padding-left: unset;
    }



}