.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    margin-top: 67px;
}

.margin-title_garantiya_srokov {
    margin-bottom: 35px;
}

.margin-link_garantiya_srokov {
    margin-top: 24px;
}

.main_block_garantiya_srokov {
    padding: 50px;
    padding-bottom: 60px;
}

.title-h2-text-common.margin-title_garantiya_srokov {
    text-align: left !important;
}

.list-download_garantiya_srokov {
    color: #587291;
}

.main_block_garantiya_srokov a.action-text-common::marker {
    color: #587291;
}

.main_block_garantiya_srokov ul.list-download_garantiya_srokov.margin-link_garantiya_srokov {
    margin-bottom: unset;
}

.main_block_garantiya_srokov li {
    margin-bottom: unset;
}

.main_block_garantiya_srokov a.action-text-common {
    border-bottom: 1px solid;
    color: #587291;

}

.mobile-text {
    display: none;
}

.desktop-text {
    display: block;
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: none;
        margin-top: 40px;
    }

    .main_block_garantiya_srokov {
        padding: 40px 28px;
    }


    .mobile-text {
        display: block;
    }

    .desktop-text {
        display: none;
    }
}