.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    margin-top: 130px;
}

.margin-title_garantiya_srokov {
    margin-bottom: 35px;
}

.margin-link_garantiya_srokov {
    margin-top: 24px;
}

.main_block_garantiya_srokov {
    padding: 50px;
}

.list-download_garantiya_srokov {
    color: #334862;
}

.mobile-text {
    display: none;
}

.desktop-text {
    display: block;
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: none;
    }

    .main_block_garantiya_srokov {
        padding: 40px 28px;
    }


    .mobile-text {
        display: block;
    }

    .desktop-text {
        display: none;
    }
}