.help_start_business_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
    padding-top: 60px;

}

.text_help_start_business_legend {
    text-align: center;
    background: white;
    padding: 0 20px;
}

.legend_position {
    position: relative;
    top: -65px;
    margin: 0 -80px;
    display: flex;
    justify-content: center;

}

.rite_text_help_start_business {
    padding: 30px;
    display: flex;
    align-items: center;
}

.border_card_help {
    border: 1px solid #C9C9C9;
    padding: 50px 80px;
}

.left_text_help_start_business_content {
    padding: 15px 0;
}

.content_layout_help_start_business {
    display: grid;
    grid-gap: 35px;
}

.top_padding_help_start_business {
    margin-top: 150px;
}

.left_text_help_start_business_layout {
    display: grid;
    grid-gap: 16px;
}

.text_mobile_help_start_business {
    display: none;
}

@media screen and (max-width: 1040px) {
    .legend_position {
        margin: 0 -20px;
    }
}

@media screen and (max-width: 900px) {
    .text_desktop_help_start_business {
        display: none;
    }

    .help_start_business_content {
        grid-template-columns: auto;
        grid-gap: 45px;
        padding-top: 15px;
    }

    .text_mobile_help_start_business {
        display: block;
    }

    .top_padding_help_start_business {
        margin-top: 60px;
    }

    .content_layout_help_start_business {
        justify-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .text_help_start_business_legend {
        padding: 0 10px;
    }

    .text_help_start_business_italic {
        font-size: 18px;
        text-align: center;
    }

    .content_layout_help_start_business {
        justify-items: center;
    }

    .border_card_help {
        padding: 35px 28px 65px 28px;
    }

    .legend_position {
        margin: 0 12px;
        top: -48px;
        min-width: 187px;
    }

    .content_layout_help_start_business {
        grid-gap: 10px;
    }
}