.padding_komanda_specialistov {
    padding-top: 160px;
}

.komanda_specialistov ul.tabs li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1A1A1A;
    padding: 8px;

}

.komanda_specialistov ul.tabs li:hover {
    background: white;
    color: #1A1A1A;
}

.komanda_specialistov .active {
    font-weight: 700 !important;
    border-bottom: 2px solid #EC1C23;
}

.komanda_specialistov .specialist-tile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px #E5E5E5;
    margin-bottom: 50px;
    position: relative;
    margin-top: 58px;
}

.komanda_specialistov .specialist-photo {
    width: 275px;
    height: 100%;
}

.komanda_specialistov img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mute-text-legend-normal-common {
    font-weight: 700 !important;
}

.komanda_specialistov .specialist-tile > .label {
    position: absolute;
    top: -16px;
    background-color: white;
    text-transform: uppercase;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 24px;
    font-weight: bold;
}

.komanda_specialistov .specialist-tile.main > .label {
    left: 402px;
}

.komanda_specialistov .specialist-tile > .label {
    left: 302px;
}

.komanda_specialistov .specialist-tile p {
    margin: unset;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 18px;
}

.komanda_specialistov .specialist-fio {
    font-size: 44px;
}

.komanda_specialistov .specialist-text {
    flex-grow: 3;
    margin-left: 64px;
    margin-right: 40px;
    position: relative;
}

.komanda_specialistov .specialist-contact {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.komanda_specialistov .specialist-button-description {
    margin-left: 36px;
    flex-grow: 1;
}

.komanda_specialistov .specialist-button {
    min-width: 36%;
    flex-basis: auto;
    flex-grow: 1;
}

.komanda_specialistov .specialists_advantages {
    width: 100%;
    margin-top: 50px;
    background-color: #eeeeee;
}

.komanda_specialistov .specialists_advantages .specialists_advantages_top {
    border-bottom: 1px solid #aaaaaa;
    display: flex;
}

.komanda_specialistov .specialists_advantages .specialists_advantages_top .specialists_advantages_top_text {
    max-width: 60%;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.komanda_specialistov .specialists_advantages .specialists_advantages_top .specialists_advantages_top_img {
    max-width: 40%;
    margin-top: -20px;
}

.komanda_specialistov .specialists_advantages .specialists_advantages_bot {
    padding-top: 36px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 18px;
}

.container-text-mute_komanda {
    position: absolute;
    top: -16px;
    left: 263px;
    background: white;
    padding: 0 20px;
    margin-left: 60px;
}

.command-fio {
    font-family: 'PT Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

.komanda-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 60px;
    align-items: center;

}

.komanda_specialistov .team_text_decription {
    padding: 35px 100px 47px 0;

}

.komanda_specialistov .specialist-description {
    display: grid;
    grid-gap: 25px;

}

.full-fio-komanda {
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}


.mobile_mode_komanda {
    display: none;
}

.photo_mobile {
    border-radius: 50%;
    overflow: hidden;
    width: 85px;
    height: 85px;

}

.photo_mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile_mode_komanda_flex {
    display: none;
}

.padding_komanda_specialistov {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .specialist-text {
        margin-left: unset;
        margin-right: unset;
        margin-top: unset;
        margin-bottom: unset;
    }

    .specialist-fio {
        font-size: unset;
    }

    .desktop_mode_komanda {
        display: none;
    }

    .specialist-photo_komanda_mobile {
        border-radius: 100px;
        height: 85px;
        width: 85px;
    }

    .mobile_mode_komanda {
        display: block;
    }

    .mobile_mode_komanda_flex {
        display: grid;
        grid-template-columns: 85px 1fr;
        grid-gap: 25px;
        align-items: center;
    }

    .komanda-layout {
        grid-template-columns: auto;
    }

    .full-fio-komanda {
        font-size: 16px;
        line-height: 140%;
    }

    .komanda_specialistov .specialist-tile {
        margin-left: 45px;
    }

    .padding-left-komand {
        position: relative;
        left: -70px;
        display: flex;
    }

    .komanda_specialistov .team_text_decription {
        padding: 30px 28px 45px 28px;
    }

    .padding_komanda_specialistov {
        padding-top: 65px;
    }

    .photo_mobile {
        flex-shrink: 0;
    }

    .specialist-fio-place {
        width: 100%;
        flex-shrink: 0;
        padding-right: 10px;
    }

    .mute-text-legend-normal-common {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .photo_mobile img {
        object-position: top;
    }

    .komanda_specialistov ul.tabs li {
        font-size: 14px;
    }

    .padding_komanda_specialistov {
        padding-top: 30px;
    }
}
