.modal-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h2.title_open_business {
    margin-bottom: 60px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #1A1A1A;
}
/* Tabs */
.tabs {
  width: 100%;
}
ul#tabs-nav {
    display: flex;
    grid-column-gap: 15px;
    list-style: none;
    margin: 0;
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 57px;
}
ul#tabs-nav li {
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    border-bottom: 3px solid #EC1C23;
}
#tabs-nav li:hover a {
    color: #EC1C23;
}
#tabs-nav li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #1A1A1A;
    padding: 8px;
}
.tab-content {

}
.wrap_open_business_tab {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.wrap_open_business_tab img {
    max-width: 900px;
    width: 100%;
    height: 459px;
    object-fit: cover;
    margin-left: -58px;
}
div#trade img {
    margin-left: -37px;
    max-width: 886px;
}
ul.list_type_busnisse {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    max-width: 284px;
    width: 100%;
}
ul.list_type_busnisse li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}


ul.list_type_busnisse li:before {
    content: '';
    background: url(https://taxlab.ru/wp-content/uploads/Vector-1.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 9px;
    flex-shrink: 0;
    margin-top: 4px;
}
span.num_step {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #1A1A1A;
}
.step_slider_busnisse {
    position: relative;
    padding: 60px;
    padding-right: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(26 26 26 / 9%);
}
.title_step {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.content_step {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1A1A1A;
}
.content_step a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #587291;
    display: block;
    margin-top: 18px;
}
.title_step:after {
    content: '';
    background: url(https://taxlab.ru/wp-content/uploads/step-arrow.svg);
    width: 231px;
    height: 32px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    background-position: right;
    top: 14px;
}
.step_slider_busnisse .swiper-slide {
    max-width: 270px !important;
    width: 100% !important;
}
.step_slider_busnisse .swiper-button-disabled {
    opacity: 0 !important;
    z-index: -1;
}
.step_slider_busnisse  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 26.2222px rgb(26 26 26 / 27%);
    border-radius: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23.6px;
    line-height: 35px;
    color: #EC1C23;
}
.step_slider_busnisse  .swiper-button-prev{
    right: auto;
    left: 0;
}
.step_slider_busnisse  .swiper-button-next:after, .step_slider_busnisse  .swiper-button-prev:after{
    content: '';
}
.step_slider_busnisse .swiper-slide:last-child {
    margin-right: 60px !important;
}
.no_title_text {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    /* margin-bottom: 18px; */
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.no_title_step {
    display: flex;
    margin-bottom: 18px;
    display: block;
    height: 60px;
    align-items: center;
}
.chek_icon{
 content: '';
 background: url('https://taxlab.ru/wp-content/uploads/Check.svg');
 width: 40px;
 height: 40px;
}

.no_title_text.krest_icon {
    padding-left: 50px;
}
.krest_icon:before {
    content: '';
    background: url(https://taxlab.ru/wp-content/uploads/krest.svg);
    width: 33px;
    height: 33px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: block;
    position: absolute;
    left: 0;
} 
section.section.open_business .section-content.relative {
    z-index: auto;
}
/**Modal**/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 0;
    max-width: 971px;
    width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 10%;
    left: 0;
    right: 0;
    overflow: scroll;
    height: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    position: fixed;
    bottom: 10%;
}

.modal-body {
    position: absolute;
    padding: 100px;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    /* height: 100%; */
    overflow: scroll;
    top: 0;
    width: 100%;
    /* min-height: 800px; */
}
.content_modal h3{
    margin-bottom: 15px;
}
.content_modal ul {
    margin: 0;
    padding-left: 20px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:10%; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:10%; opacity:1}
}

.close {
    cursor: pointer;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: sticky;
    top: 24px;
    right: 24px;
    z-index: 99;
    line-height: 1;
    /* left: 0; */
    /* max-width: 931px; */
    /* text-align: right; */
    margin-left: auto;
}
.modal-header h2 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #1A1A1A;
    margin-bottom: 25px;
}
/*.relative {
    position: relative !important;
    z-index: auto !important;
}
*/
@media (max-width: 768px) {
    h2.title_open_business {
        font-size: 28px;
        padding: 0 40px;
        margin-bottom: 45px;
    }

    ul#tabs-nav {
        justify-content: flex-start;
        overflow: scroll;
        position: absolute;
        /* left: 0; */
        width: 100%;
        padding-right: 25px;
    }

    ul#tabs-nav li {
        flex-shrink: 0;
    }

    ul#tabs-nav::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .open_business_screen .wrap_open_business_tab {
        padding-top: 75px;
        padding-bottom: 350px;
    }

    .wrap_open_business_tab img {
        display: none;
    }

    ul.list_type_busnisse {
        padding-top: 0;
        padding-left: 27px;
    }

    ul.list_type_busnisse li {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .page-template-page-bussnise .open_business_screen .swiper {
        cursor: grab;
        position: absolute;
        right: 0;
        left: 15px;
        top: 0 bott;
        bottom: 0;
        z-index: 1;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .content_step {
        font-size: 16px;
        line-height: 140%;
    }

    .step_slider_busnisse {
        padding: 45px 42px;
    }

    .open_business_screen .swiper-slide {
        min-height: 220px !important;
    }
}
