.grid_form_request_call_back {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: end;
}

.grid_form_request_call_back .wpcf7-submit {
    width: 100%;
    padding: 9px 25px;
    font-size: 18px;
    line-height: 27px;
}

.grid_form_request_call_back input[type='text'] {
    border: unset;
    border-bottom: 2px solid #C9C9C9;
    -webkit-box-shadow: unset;
    width: 350px;
    margin-bottom: 10px;
}

.layout_request_call_back {
    max-width: 697px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    grid-gap: 30px;
}

.wrapper_request_call_back {
    display: flex;
    justify-content: center;
}

.btn-form_request_call_back.cf7-submit-button input {
    margin: unset;
}

.btn-form_request_call_back {
    /*padding: 9px 25px;*/
    background: #EC1C23;
    color: white;
    text-align: center;

}

.wrapper_btn_and_checkbox {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 10px;
}

.approve_free_consultation {
    display: flex;
    align-items: flex-start;
}

.mute-text-normal-common.small-mute-text > br:first-child {
    display: block !important;
}

.approve_free_consultation input#approve {
    margin-bottom: 0px !important;
    margin-top: 4px;
    accent-color: #C9C9C9;
}

.approve_free_consultation .small-mute-text, .approve_free_consultation .small-mute-text a {
    color: #C9C9C9 !important;
    font-size: 14px;
}

.wrapper_request_call_back .main-text-common {
    text-align: left !important;
}

.title-h1-text-common.padding-top-request_call_back {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

span.main-text-accent-common-red {
    font-weight: 700;
    color: #EC1C23;
}

.page-id-13516 .layout_request_call_back {
    padding-top: 31px;
}

.page-id-13516 .btn-form_request_call_back {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .grid_form_request_call_back {
        grid-template-columns: auto;
        grid-gap: 20px;
    }

    .layout_request_call_back {
        padding-top: 100px;
        padding-bottom: 110px;
    }

    .btn-form_request_call_back {
        width: fit-content;
    }

    .wrapper_btn_request_call_back {
        display: flex;
        justify-content: center;
    }

    .layout_request_call_back, .wrapper_request_call_back {
        display: block;
    }

    .title-h1-text-common.padding-top-request_call_back {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 25px;
    }

    .grid_form_request_call_back input[type='text'] {
        width: 100%;
    }

    .page-id-13516 .layout_request_call_back {
        padding-top: 0;
    }
}