.since_wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 60px;
}
.since_wrap h2 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    /* max-width: 691px; */
    border-right: 1px solid #C9C9C9;
    padding-right: 100px;
    width: 100%;
    margin-bottom: 0;
}
.since_percent span {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #EC1C23;
}
.since_percent {
    padding-right: 0;
    padding-left: 50px;
}
.since_percent p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1A1A1A;
}
p.remark_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #707070;
    max-width: 674px;
    margin: 0 auto;
}