h2.title_sections_startup {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #1A1A1A;
    margin-bottom: 60px;
}
.statick_ignor_screen h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 45px;
}
.static_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statick_ignor_screen img {
    max-width: 373px;
    width: 100%;
    height: 220px;
}
.static_desc p {
    font-family: 'PT Serif';
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 24.3px;
    line-height: 140%;
    color: #1A1A1A;
    letter-spacing: -1px;
}

a.link_reviews {
    font-family: 'Inter';
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #587291;
    margin-top: 35px;
}

.statick_ignor_mob {
    display: none;
}

@media (max-width: 768px) {
    h2.title_sections_startup {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 45px;
    }

    .static_desc {
        display: block;
    }

    .statick_ignor_mob {
        display: block;
    }

    .statick_ignor_desc {
        display: none;
    }

    a.link_reviews {
        margin: 25px 0;
    }

    .statick_ignor .static_desc {
        margin: 0 25px;
    }

    .statick_ignor .static_desc p br {
        display: none;
    }

    .statick_ignor .static_desc p span {
        display: block;
    }

    .statick_ignor .static_desc p {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 140%;
        color: #1A1A1A;
    }
}