@import url(https://fonts.googleapis.com/css?family=Roboto:500);

#codebox {
    padding: 4px;
    font-family: Courier, sans-serif;
    font-size: 1em;
    line-height: 1.3;
    color: #2300ff;
    /*background-color: #2c3e50;*/
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 10px;
}

.su_welcome_banner_content {
    position: relative;
    z-index: 2;
}

.su_welcome_banner_background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.su_welcome_banner_background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.su_welcome_banner {
    padding-bottom: 220px;
    position: relative;
    color: white;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.su_welcome_banner .umbrella-header-and-breadcrumbs h1 {
    padding-top: 25px;
}
.su_welcome_banner .umbrella-header-and-breadcrumbs {

}
.su_welcome_screen .su_welcome_banner .su_welcome_banner_content p {
    padding-bottom: 32px;
}

.su_welcome_banner:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.su_welcome_screen h1.header {
    font-size: 44px;
    line-height: 1.2;
}

.su_welcome_banner_offer p {
    max-width: 60%;
}

.su_welcome_banner_offer {
    text-align: left;
    font-size: 24px;
}

.su_welcome_banner_overlay_top:after {
    content: "";
    background-color: #aaaaaa;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 90%;
}

.su_welcome_banner_overlay {
    box-shadow: 0 9px 30px rgba(0, 0, 0, 0.28);
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 220px;
    margin-bottom: -120px;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.su_welcome_banner_overlay_top {
    display: flex;
    position: relative;
    min-width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px !important;
}

.su_welcome_banner_overlay_top .advantage-block-icon {
    width: 100%;
    margin-bottom: 24px;
}

.su_welcome_banner_overlay_top .advantage-block {
    max-width: 250px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.su_welcome_banner_overlay_top .advantage-block img {
    height: 80px;
    margin: 0 auto;
}

.su_welcome_banner_overlay_bottom {
    padding-top: 48px;
    padding-bottom: 72px;
    padding-left: 5%;
    min-width: 100%;
    position: relative;
}

.su_welcome_banner_overlay_bottom .button {
    margin-bottom: unset;
    margin-top: 24px;
}

.su_welcome_banner_overlay_bottom p {
    margin-bottom: unset;
}

.su_welcome_banner_overlay_bottom .button span {
    font-size: 18px;
}

.su_welcome_banner_overlay_bottom_phone a {
    color: rgba(237, 29, 35, 1);
    font-weight: bold;
}

@media screen and (max-width: 849px) {
    .su_welcome_banner_overlay_top {
        padding-top: 5px;
    }
    .banner-button span, .button span {
        font-size: 18px;
    }
    .su_welcome_banner_ratings_icon_box > * {
        max-width: 90%;
    }

    .su_welcome_banner_ratings_icon_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 50px;
    }

    .su_welcome_screen_ratings {
        width: 100%;
        padding-top: 20px;
        background-color: #eeeeee;
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
        -moz-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
    }

    .su_welcome_banner_ratings_icon {
        width: 80%;
        padding-bottom: 20px;
    }

    .su_welcome_banner_ratings_icon img {
    }

    .su_welcome_banner_ratings_header {
        font-weight: bold;
    }

    .su_welcome_banner_overlay_top {
        flex-direction: column;
    }

    .su_welcome_banner_overlay_top:after {
        content: unset;
    }

    .su_welcome_banner_overlay {
        padding-right: 15px;
        padding-left: 15px;
    }

    .su_welcome_banner {
        padding-bottom: 45px;
    }

    .su_welcome_banner_overlay_bottom {
        padding-left: 0;
        padding-right: 0;
        padding-top: unset;
        padding-bottom: 72px;
    }

    .su_welcome_banner_overlay_bottom p {
        margin-bottom: 1em;
    }

    .su_welcome_banner_overlay .button {
        top: -25px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        z-index: 2;
    }

    .su_welcome_banner_overlay {
        bottom: unset;
        margin-bottom: unset;
    }

    .su_welcome_banner_overlay .advantage-block {
        font-size: 18px;
        text-align: left;
        display: flex;
        max-width: unset;
        max-height: unset;
        overflow: hidden;
        margin: unset;
        width: unset;
        padding-bottom: 16px;
    }

    .su_welcome_banner_overlay_top .advantage-block img {
        height: 20px;
    }

    .su_welcome_banner_overlay_top .advantage-block-icon {
        margin-right: 8px;
        min-width: 20px;
        width: unset;
        margin-bottom: unset;
    }

    .umbrella-header-and-breadcrumbs .breadcrumbs {
        height: 0;
        position: absolute;
        overflow: hidden;
    }

    .su_welcome_banner_offer {
        font-size: 18px;
    }

    .su_welcome_screen h1.header {
        font-size: 28px;
        line-height: 1.2;
    }

    .su_welcome_banner_offer p {
        max-width: 100%;
    }

    .su_welcome_banner_overlay {
        box-shadow: unset;
    }
}