.su_welcome_screen_conditions_subheader{
    padding-top: 8px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    font-family: "PT Serif", sans-serif;
}
.su_welcome_screen_conditions_header{
    font-size: 18px;
    font-weight: 400;
}
.su_welcome_screen_conditions_button a.button span{
    font-size: 18px;
    font-weight: 400;
}

.su_welcome_screen_conditions{
    margin-bottom: 100px;
}

.su_welcome_screen_conditions .col:before, .su_welcome_screen_conditions .col:before  {
    border-left: 1px solid #aaaaaa;
}
.su_welcome_screen_conditions_button {
    margin-top: 35px;
}
.su_welcome_screen_conditions_column {
    padding-right: 40px;
    padding-left: 24px;
}

@media screen and (max-width: 849px) {
    .su_welcome_screen_conditions .col {
        padding-top: 50px;
    }
    .su_welcome_screen_conditions_column {
        text-align: center;
    }
    .su_welcome_screen_conditions_column .col-inner{
        padding-bottom: 50px;
    }
    .su_welcome_screen_conditions_column.col:after {
        width: 90%;
        left: 5%;
    }
}