.nav>li>a:hover, .nav>li.active>a, .nav>li.current>a, .nav>li>a.active, .nav>li>a.current, .nav-dropdown li.active>a, .nav-column li.active>a, .nav-dropdown>li>a:hover, .nav-column li>a:hover {
    color: red;
}
.header-ratings-icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-top: unset;
}

.header-ratings-icons {
    display: flex;
    flex-direction: row;
}

.header-ratings-header {
    padding-left: 8px;
    font-size: 12px;
    line-height: 1.3;
    font-weight: bold;
    max-width: 200px;
}
.header-ratings-icon.expert-rating{
    margin-right: 48px;
    border-radius: unset;
    width: 100px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-left .logo {
    margin-right: 0px;
}

.header-ratings-icon {
    width: 60px;
    padding: unset;
    content: '';
    border-radius: 100%;
    height: 55px;
    background-size: 60px 60px;
    background-position: center;
}
.header-contacts{
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
}
.header-contacts .header-mail-top-right {
    width: 100%;
    padding-right: unset;
    font-size: 14px;
    text-align: right;
}
.header-contacts .header-phone-top-right{
    width: 100%;
    font-size: 24px;
}

@media screen and (max-width: 849px) {

    .off-canvas .sidebar-menu {
        padding-top: 60px;
    }
    .sidebar-menu .logo-mobile{
        width: 70%;
        position: absolute;
        top: -60px;
        left: 10px;

    }
    #umbrella-menu-button{
        position: relative;
        width: 95%;
        top: unset;
        bottom: unset;
        height: 52px;
        margin-top: 16px;
    }
    .off-canvas-right .mfp-content, .off-canvas-left .mfp-content {
        width: 300px;
    }
    #header-contact-mobile a{
        font-weight: 700;
    }
    #header-contact-mobile p, #header-contact-mobile a, .header-contact-location-city{
        color: #1a1a1a;
        font-size: 16px;
        line-height: 2;
        padding-left: unset;
    }
    #umbrella-menu-button a {
        font-weight: 400;
        font-size: 18px;
        color: white;
    }
    #header-contact-mobile {
        padding-left: 20px;
        /*display: table;*/
    }
    #header-contact-mobile  i {
        /*display: table-cell;*/
        width: 24px;
    }

    #header-contact-mobile .header-contact-location {
        display: flex;
        flex-direction: column;
    }
    #header-contact-mobile .header-contact-location-addresses {
        padding-left: 28px;
        font-size: 14px;
    }

    .sidebar-menu>.nav-sidebar .mobile-header-divider {
        display: block;
        background: rgb(170, 170, 170);
        width: 95%;
        height: 1px;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
        vertical-align: middle;
    }
    .sidebar-menu .nav>li>a {
        color: #1a1a1a;
        line-height: 2;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
    }
    .sidebar-menu button.toggle {
        min-height: unset;
        /*height: 25px;*/
    }
    .sidebar-menu button.toggle i {
        font-size: 1.2em;
    }
    .nav-sidebar.nav-vertical>li+li {
        border-top: unset;
    }
    .sidebar-menu .nav-vertical li li>a {
        color: #1a1a1a;
        font-size: 16px;
        padding: unset;
        line-height: 2;
    }
    .nav:not(.nav-slide) .active>.children {
        padding-bottom: 20px;
    }
}