.block-padding_why-umbrella {
    padding-top: 90px;
}

.main-container_why-umbrella {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_why-umbrella {
    display: grid;
    grid-gap: 65px;
    position: relative;
    top: -80px;
    max-width: 1054px;
    padding: 40px 50px;
}

.citation_why-umbrella {
    display: grid;
    grid-gap: 21px;
}

.layout-author-quote_why-umbrella {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 25px;
    align-items: center;
}

.layout-quote_why-umbrella {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    grid-gap: 18px;
}

.quote_why-umbrella {
    font-size: 40px;
    color: #EC1C23;
    line-height: 24px;
}

.layout-thesis_why-umbrella {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    align-items: center;
}

.number-thesis_why-umbrella {
    font-family: "PT Serif", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #EC1C23;
    line-height: 30px;

}

@media screen and (max-width: 1060px) {
    .card_why-umbrella {
        position: inherit;
        top: 0;
    }

    .card-shadow_none_why-umbrella {
        box-shadow: none !important;
    }
}

@media screen and (max-width: 768px) {
    .title_why_umbrella {
        text-align: center;
    }

    .card_why-umbrella {
        grid-gap: 40px;
        padding: 25px 15px;
    }

    .layout-quote_why-umbrella {
        align-items: inherit;
        grid-gap: 5px;
    }

    .position-down_why-umbrella {
        align-self: end;
    }

    .layout-thesis_why-umbrella {
        align-items: initial;
        grid-column-gap: 14px;
    }

    .layout-author-quote_why-umbrella {
        margin-top: 40px;
    }

}
